* {
  box-sizing: border-box;
/*  border: 1px solid;*/
}

main {
  display:flex;
  flex-wrap:wrap;
  height:800px;
  margin: auto;
  width: 1300px;
}

#dashboard-title {
  align-items: center;
  border-bottom:0;
  display: flex;
  flex: 0 0 100%;
    font-style: italic;
  height: 50px;
}

#dashboard-title h3 {
  border-bottom: none;
  font-size: 30px;
  text-decoration: none;
}

#dashboard-title h6{
font-size: 20px;
margin:0;
}

#dashboard-title hr {
      border: 1px solid;
          height: 25px;
  margin: 5px;
}

#left {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 38px;
  justify-content: space-between;
  width: 320px;
}

#right {
  flex: 1;
}

h3{
  text-align: center;
  text-decoration: underline; 
  margin: 0px;
  
}

ul{ 
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  padding-top: 0;
  padding-bottom: 5px;
}

#left-top, #left-bottom {
 border: 1px solid #cecece;;
 padding-top: 5px;
}

#left-top li {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

#left-bottom li {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.parkName {
  font-size: 18px;
  letter-spacing: .5px;
}

.rating {
  border-radius: 50%;
  border: 3px solid;
  font-size:12px;
  height:33px;
  line-height:27px;
  text-align: center;
  width:33px; 
}

#top {
  display:flex;
  height:400px;
}

#image, #map{
  height:100%;
  border: 5px solid white;
}

#image {
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#title {
  width: 100%;
    height: 30px;
    background: white;
    position: absolute;
    bottom: 0;
        line-height: 30px;
    font-style: italic;
    text-align: center;
    text-align: center;
    font-size: 20px;
}

#desc{
      flex: 0 0 70%;
margin-left: 10px;
margin-bottom:5px;
}

#desc .gray {
      color: gray;
}

#bottom {
  position:relative;
      display: flex;
    flex-wrap: wrap;
}

#bottom h3{
      text-align: left;
      margin: 0;
          text-decoration: none;
              text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}

#filters form{
      display: flex;
    width: 300px;
    position: absolute;
    right: 0;
}

#desc p {
      color: rgb(62, 133, 181);
  margin:0;
      font-size: 20px;
}

#chart {
  width:100%;
  height:400px;
  overflow: scroll;
}

svg {
  width:100%;
  height:100%;
}

#chart svg {
  height:1700px;
}

.tick line{
  stroke:none;
}

.gScale {
  position:fixed;
}

.tooltip, .tooltipBar {
  display:none;
  position:absolute;
  background:white;
  padding: 5px 20px;
  text-align: center;
  border:1px solid;
  box-shadow: 2px 2px #7b7575;
}

.tooltip .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.tooltip .avg{
  margin: 0;
}

.tooltipBar .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.tooltipBar .neighborhood, .tooltipBar .avg{
  margin: 0;
}

/* MAP */
#map {
    fill:#e8e7e7;
    stroke: white;
    width: 40%;
}

#map svg {
  background:#96c4ce;
  height: calc(100% - 30px);
}