.rectToolTip, .circleToolTip {
  display:none;
  position:absolute;
  background:white;
  padding: 5px 20px;
  text-align: center;
  border:1px solid;
  box-shadow: 2px 2px #7b7575;
}

.rectToolTip .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.rectToolTip .avg{
  margin: 0;
}

.circleToolTip {
  width: 280px;
}

.circleToolTip .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.circleToolTip .neighborhood, .circleToolTip .avg{
  margin: 0;
}